.section-header h2,
.boxed-btn:hover,
#header-top ul li i,
#header-top .header-social li a:hover i,
.header-info i,
.search__close__btn_icon:hover i,
.cart-btn:hover,
.portfolio figcaption a,
.features-box:hover figcaption i,
.service-box a,
.team-member .team-footer h4,
.single-testimonial p.title,
.recent-blog-post .meta-info .posted-by a,
.recent-blog-post .meta-info li.tags a:hover,
.action-bar .boxed-btn.white-bg,
.copyright-text a,
.scrollup.boxed-btn:hover,
#breadcrumb-area li.active,
.portfolio-box .content a,
ul.pagination li a,
.page-item.active .page-link,
.blog-post .post-content .read-more,
.blog-post .meta-info li a:hover,
.media-body ul li.comment-replay,
.post-new-comment .form-control,
.input-wrapper input:focus + label,
.input-wrapper textarea:focus + label,
.contact-form input:focus,
.contact-form textarea:focus,
.contact-info .info-box i,
.contact-us-box:hover i,
.poweredby a:hover,
.text-404 i,
.widget_about li i,
.widget_links li:before,
.widget_links li a:hover,
.widget .post-date,
.newsletter button:hover,
.comingsoon-footer .social-list li a:hover {
	color: #1ca54d;
}

.section-header h2:after,
.boxed-btn,
.book-now,
.cart-icon .cart-count,
.search__area .search__inner form button:hover,
.cart-btn,
.navbar-pc li a:hover,
.navbar-pc li.active > a,
.header-slider .owl-dots div.active,
.contact-info li,
.portfolio-tab-sorting li a.active,
#fun-fact .single-box:after,
.team-member .team-footer:before,
.team-member .team-footer:after,
.team-content:after,
.team-content ul,
.single-testimonial:hover,
.testimonial-carousel .owl-dots div.active,
.heavy-package .order-btn,
.order-btn:before,
.heavy-package .package-head,
.single-package:hover .package-head,
.subscribe-text:before,
#subscribe-form a,
.recent-blog-post .post-thumb:after,
.action-bar,
.action-bar .boxed-btn.white-bg:hover:before,
.achieve-box:hover,
.servicep-box,
.servicep-box:hover,
.servicep-box:hover .boxed-btn:before,
ul.pagination li a:after,
ul.pagination li.next a,
.blog-post .post-thumb:after,
#footer-widgets .widget hr:before,
#footer-widgets .widget hr:after,
.sidebar .widget hr,
.search-form button,
.widget .tags li,
.newsletter button {	
    background: #1ca54d;
}

.cart-btn:hover,
.single-testimonial:after,
.servicep-box:hover,
.pagination,
.contact-form input:focus,
.contact-form textarea:focus,
.categories select,
.newsletter input:focus,
.newsletter button:hover {
	border-color: #1ca54d;
}


.widget .tags li:after {
	border-left-color: #1ca54d !important;
}